/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: url("../img/criat2.png") no-repeat 120% 85%;
    background-color: #F5F5F5;
}
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #DB8F02;
    font-size: 14px;
}
/* questionario*/ 
.form-1{
    margin-top: 140px;
    margin-right: 90px;
}
.form-1 .form-control{
    width: 400px;
}
.form-1 h2{
    color:#DB8F02
}
.form-1 label{
    padding: 5px;
}
.btn-primary{
   position: absolute;
    margin-top: 35px; 
    border-radius: 12px;
    background-color:#000440;
    border: none;
    left: 48%;
    
}
.form-group2{
margin-top: 45px;
}
.btn-primary:hover{
   background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}
.form-control#SelectForm{
	 text-transform: lowercase;
}