/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: url("../img/criat2.png") no-repeat 120% 85%;
    background-color: #F5F5F5;
}
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #DB8F02;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
    background-color:#F3CA06;
    
    }
    #nav-container{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #logo{
        width: 160px;
    }
    
    .navbar-brand{
    padding: 0;
    color: white;
    }
    
    .navbar-brand:hover{
        color: white;
    }
    
    #navbar-links a{
        color: white;
          font-weight: bolder;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 1rem .8rem;
    }
    

    
      /* questionario*/ 
.form-1{
    margin-top: 140px;
    margin-right: 90px;
}
.form-1 .form-control{
    width: 400px;
}
.form-1 h2{
    color:#DB8F02
}
.form-1 label{
    padding: 5px;
}
.btn-primary{
    margin-top: 25px; 
    border-radius: 12px;
   background-color:#000440;
    border: none;
    
}
.form-group2{
margin-top: 45px;
}
.btn-primary:hover{
   background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}




.form-control#SelectForm{
	 text-transform: lowercase;
}