/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    
    font-family: 'Roboto', sans-serif;
    background: url("../img/equipe3-removebg-preview.png") no-repeat 50%  420px;
    background-attachment: scroll;
    position: relative;
  
        
     
       
} 

/* questionario*/ 
.form-1{
    margin-top: 300px;
    margin-left: 40%;
     

}
legend{
    color: #000440;
}
label{
    color: #000440;
}

.btn-primary{
    margin-top: 25px; 
    border-radius: 12px;
    background-color:#000440;
    border: none;
    
}

.btn-primary:hover{
    
   background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.form-control#SelectForm{
	 text-transform: lowercase;
}