body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}
.row{
    margin: 0;
}

.container{
    padding: 20px 0;
}

p, li{
    color: #000429;
    font-size: 16px;
}


.btn-primary{
    background-color:#000440;
    width: 10%;
    border-radius: 30px;
    padding: 7px;
    color: white;
    margin-top: 12px;
    border: 0px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    
}
.btn-primary:hover{
    background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}
    
li{
    margin: 0px;
    text-align: justify;
    word-wrap: break-word;
    
}
li span{
    font-size: 14pt;
        
}
ul{
    padding: 10px;
    
}
    
.form-select{
    width: 15%;
    position: absolute;
    left: 69%;}
    
.data{display: block;
  width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;}
    
.fa-star{
	color: #F3CA06
}