/*Barra de navegação*/

body{
	 font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: aliceblue;
}

.container{
	margin-top: 10%;
}

/*Barra de navegação*/
header, .navbar{
    background-color:#F3CA06;
    
    }
    #nav-container{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #logo{
        width: 160px;
    }
    
    .navbar-brand{
    padding: 0;
    color: white;
    }
    
    .navbar-brand:hover{
        color: white;
    }
    
    #navbar-links a{
        color: white;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 1rem .8rem;
    }
    
    
    
.btn-primary{
	color: white;
    margin-top: 25px; 
    border-radius: 12px;
    background-color:#000440;
    border: none;
    
}

.btn-primary:hover{
    background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.btn-primary a{
	text-decoration: none;
	color: white;
}
.fa-trash-alt{
	color: black;
}
