/* Gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: aliceblue;
}
.row{
    margin: 0;
}

.container{
    margin-top: 10%;
}

p, li{
    color: #444;
    font-size: 14px;
}

.form-1 .form-control{
    width: 400px;
}
.form-1 h2{
    color:#ffae00;
}
.form-1 label{
    padding: 5px;
}
.card{
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #F3CA06;
    padding: 20px;
    border-radius: 25px;
    padding-bottom: 15%;
}
.card-top{
    text-align: center;
}
.card-top h2{
    color: rgb(255, 255, 255);
}
.card-top p{
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.card-group{
    margin-bottom: 10px;
}
.imglogin{
    
    width: 200px;
   
}
.titulo{
    font-size: 25pt;
}

.btn-primary{
    background-color:#000440;
    width: 100%;
    border-radius: 30px;
    padding: 13px;
    color: white;
    margin-top: 12px;
    border: 0px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    

}
.btn-primary:hover{
    background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: -10%;
	min-width: 100%; 
	min-height: 90%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}