
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    margin-top:60px;
}


.img-thumbnail{
    margin: 500px 0px 20px 0px;
}
.btn-primary{
    width: 95%;
    margin-top: 7%; 
    border-radius: 8px;
    background-color:#000440;
    border: none;
    
}
.btn-primary:hover{
 background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.contador{
    margin-top: 8%;
}

.profile{
    margin-top: 10%;
}

.profile h4{
    margin-top: 3%;
}

.table tr{
word-wrap: break-word
}


.btn-primary a{
	text-decoration: none;
    color: white;
    }
   
         
 .imagcolaborador{
        width: 100%;
      position: relative;
      right: 30%;
    }

.admin{
    width: 80%;
    position: relative;
    right:20%;
}
.gerente{
    width: 80%;
    position: relative;
    right: 20%;
}
 .btn1{
position: absolute;
left: 86%;
background-color: transparent;
border: none;
 }
 .btn2{
 position: absolute;
left: 81.5%;
background-color: transparent;
border: none;
 }
 
 .fa-times{
 position: absolute;
left: 96%;
color: #000440;
 
 }
 
 .fa-check{
position: absolute;
left: 92%;
color: #000440;
}

.fa-edit{
position: absolute;
left: 92%;
color: #000440;
	
}

.fa-envelope{
	position: absolute;
left: 83%;
color: #000440;
font-size: 14pt;
}