
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;

   

}

.img-thumbnail{
    margin: 500px 0px 20px 0px;
}
.btn-primary{
    width: 95%;
    margin-top: 7%; 
    border-radius: 8px;
    background-color:#000440;
    border: none;
    
}
.btn-primary:hover{
 background-image: linear-gradient(to left,#F3B507,#DB8F02,#F3CA06);
}

.contador{
    margin-top: 8%;
}

.profile{
    margin-top: 10%;
}

.profile h4{
    margin-top: 3%;
}
.fa-trash-alt{
position: absolute;
left: 95%;
color: #000440;
	
}
.table tr{
word-wrap: break-word
}

.fa-check{
position: absolute;
left: 90%;
color: #000440;
}
.btn-primary a{
	text-decoration: none;
    color: white;
    }
   
         
 .imagcolaborador{
        width: 100%;
      position: relative;
      right: 30%;
    }

.admin{
    width: 80%;
    position: relative;
    right:20%;
}
.gerente{
    width: 80%;
    position: relative;
    right: 20%;
}
 