<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<title>Sugestões mais votadas</title>

<!--Fonte-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
	rel="stylesheet">
<!-- Bootstrap-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/barra_navegacao.css">
<link rel="stylesheet" href="css/sugestoesmaisvotadas.css">

 <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b77074ccd5.js" crossorigin="anonymous"></script>

</head>
<body>

<header>
		<div class="container" id="nav-container">
			<nav class="navbar navbar-expand-lg fixed-top">
				<a href="#" class="navbar-brand"> <img id="logo"
					src="img/MicrosoftTeams-image-removebg-preview-Branco.png"
					alt="IdeaBox">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbar-links" aria-controls="navbar-links"
					aria-expanded="false" aria-label="Toogle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end"
					id="navbar-links">
					<div class="navbar-nav">
						 <a class="nav-item nav-link" id="home-menu" href="http://localhost:8080/">Home</a>
                    <a class="nav-item nav-link" id="about-menu" href="/login">Login</a>
                    <a class="nav-item nav-link" id="services-menu" href="/cadastrarColaborador">Cadastrar Colaborador</a>
                    <a class="nav-item nav-link" id="team-menu" href="http://localhost:8080/timeline">Timeline</a>
                    <a class="nav-item nav-link" id="contact-menu" href="/profile">Perfil</a>
                     <a class="nav-item nav-link" id="exit-menu" href="/logout" >Sair</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
    <h1>Sugestões mais votadas</h1>
	<div class="container-fluid">
    <fieldset>
    <table class="table table-striped">
   <thead>
    <tr>
      <th scope="col"  class="col-1"></a></th>
      <th scope="col">Status</th>
      <th scope="col">Sugestões</th>
      <th scope="col">Avaliações</th>
     </tr>
  </thead>
  <tbody>
    <tr th:each="" >
    <td><div class="icons"><div><span ><a href="sugestaoadmanalisar.html"><i class="fas fa-share"></i></a></span></div>
		<div><span ><a href="#"><i class="fas fa-archive"></i></a></div></div></td>
      <td><span th:text="${}"></span></td>
      <td><span th:text="${}"></span></td>
      <td><a th:href="${}"></a>
   
      </tr>
  </tbody>
</table>
</fieldset>
</div>


<script src="js/scripts.js"></script> 

</body>
</html>